:root {
	--light: rgb(248, 237, 223);
	--gold: #d5b66d;
	--darkgreen: #213b2a;
	--lightgreen: #3a6c4a;
	--green: #4f9766;
	--pink: #ce7a8a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 12px;
	overflow-x: hidden;
	overflow-wrap: break-word;
	height: auto;
	font-family: 'Lora', serif;
}
.container {
	overflow-x: hidden;
	background-color: black;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr auto auto;
	width: 100vw;
	height: auto;
	color: white;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2em;
	font-family: 'Englebert', sans-serif;
	letter-spacing: 0.3em;
}
h2 {
	font-size: 1.5em;
	line-height: 2em;
}
/* header styling */

header {
	grid-column: 1/13;
	min-height: 700px;
	width: 100%;
	margin-top: 10em;
	margin-bottom: 7em;
	background-image: url(restauracja2.jpg);
	background-size: cover;
	background-position: center;
}

.upSideContact {
	font-family: 'Merriweather', serif;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-around;
	margin: 0px auto 0;
	padding: 2px 0;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.842);
	display: none;
}
/* nav styling */
nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.842);
	grid-column: 1/13;
	z-index: 1;
}
.navbar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
}
.Logo {
	width: 10%;
}
.Logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.navi {
	height: 8em;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
}
ul {
	display: flex;
	width: 85%;
	justify-content: space-between;
	align-items: center;
}
ul > li {
	list-style: none;
}
ul > li > a {
	font-family: 'Englebert', sans-serif;
	font-weight: 100;
	text-decoration: none;
	color: var(--gold);
	font-size: 1.8em;
	position: relative;
	padding: 0.5em;
	letter-spacing: 0.1em;
}
ul > li > a:hover {
	font-weight: 600;
	font-size: 2.9em;
	transition: 0.5s ease-in-out;
}
ul > li > a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	background-color: var(--gold);
	height: 1px;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
}
ul > li > a:hover::after {
	width: 100%;
}
/* burger styling */
.hamburger {
	display: none;
	background-color: transparent;
	padding: 20px;
	cursor: pointer;
	margin: 0;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.hamburger_Box {
	width: 45px;
	height: 35px;
	display: inline-block;
	position: relative;
}
.hamburger_line {
	width: 100%;
	height: 4px;
	background-color: rgb(248, 237, 223);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: background-color 0.2s 0.1s ease-in-out;
}
.hamburger_line::after,
.hamburger_line::before {
	content: '';
	width: 100%;
	height: 4px;
	background-color: rgb(248, 237, 223);
	position: absolute;
}
.hamburger_line::after {
	top: 15px;
	left: 0;
}
.hamburger_line::before {
	top: -15px;
	left: 0;
}
/* burger mediaQuery */
@media only screen and (max-width: 970px) {
	.Logo {
		width: 30%;
	}
	.hamburger {
		display: inline-block;
		transition: 0.3s ease-in-out;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.navi > ul {
		position: absolute;
		right: -15px;

		top: 8em;
		background-color: black;
		height: 100vh;
		flex-direction: column;
		text-align: center;
		justify-content: space-around;
		transform: translate(100%);
	}
	ul.menu_list--active {
		transform: translate(0%);

		transition: transform 0.3s 0.2s ease-in-out;
	}
	.upSideContact {
		display: inline-block;
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: space-around;
		margin: 0;
	}
}

/* burger active transform */
.hamburger--active .hamburger_line {
	background: transparent;
}
.hamburger--active .hamburger_line::before {
	transform: translateY(15px) rotate(45deg);
	transition: transform 0.3s 0.2s ease-in-out;
}
.hamburger--active .hamburger_line::after {
	transform: translateY(-15px) rotate(-45deg);
	transition: transform 0.3s 0.2s ease-in-out;
}
/* Footer styling */
footer {
	background-color: #1b2922a6;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.5fr auto auto;
	margin: 7.5em 0 10px 0;
}
.logoFooter {
	grid-column: 2/3;
	grid-row: 1/2;
	justify-items: center;
	text-align: center;
}
.logoFooter img {
	max-width: 90%;
	max-height: 90%;
	object-fit: cover;
}
.adressFooter {
	grid-column: 1/2;
	grid-row: 2/3;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: start;
	margin-left: 50px;
	font-size: 1.8em;
}
.adressFooter a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}
#FB {
	margin: 0 auto;
}
.mapFooter {
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.mapFooter iframe {
	max-width: 90%;
	max-height: 90%;
}

.timeOpenFooter {
	grid-column: 3/4;
	grid-row: 2/3;
	display: flex;
	font-size: 1.7em;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	margin-left: 20px;
}
#designBy {
	grid-column: 2/3;
	grid-row: 3/4;
	justify-items: center;
	text-align: center;
}
@media only screen and (max-width: 970px) {
	footer {
		grid-template-rows: 0.5fr auto auto auto auto;
	}

	.adressFooter {
		grid-column: 1/4;
		grid-row: 2/3;

		justify-content: space-around;
		margin: 20px auto;
	}
	.mapFooter {
		grid-column: 1/4;
		grid-row: 3/4;
		max-width: 90%;
		max-height: 90%;
		margin: auto;
	}

	.timeOpenFooter {
		grid-column: 1/4;
		grid-row: 4/5;
		justify-items: center;
		margin: 20px auto;
		justify-content: space-around;
	}
	#designBy {
		grid-column: 2/3;
		grid-row: 5/6;
	}
}
/* main styling */
main {
	font-family: 'Merriweather', serif;
	grid-column: 1/13;
	width: 100%;
	margin: 0.5em 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
	height: auto;
}
.menuButoon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 0.1em solid #d5b66d;
	background: radial-gradient(#509767, #2a5037, #112518);
	cursor: pointer;
	color: var(--gold);
	font-family: 'Englebert', sans-serif;
	font-size: 1.5em;
	position: relative;
	transition: background 0.8s ease-in-out;
}
.menuButoon:hover {
	/* background: radial-gradient(#112518, #2a5037, #509767); */
	background: radial-gradient(#509767, #12301d);
}
.menuButoon::after {
	content: '';
	border: solid 3px #ce7a8a;
	width: 110px;
	height: 110px;
	justify-content: center;
	justify-items: center;
	align-items: center;

	text-align: center;
	display: flex;
	border-radius: 50%;
	position: absolute;
	top: -9px;
	right: -9px;
	font-size: 1.8em;
	color: var(--gold);
	cursor: pointer;
	font-family: 'Englebert', sans-serif;
	font-weight: 900;
	box-shadow: 0px 1px 8px 7px rgba(223, 150, 172, 0.2);
	transition: transform 0.8s ease-in-out;
}
.menuButoon:hover::after {
	border: solid 3px #ce7a8a;

	top: -9px;
	right: -9px;
	transform: scale(0.9);
}

.mainAboutRestaurant {
	grid-column: 6/10;
	width: 100%;
	height: 90%;
	justify-content: center;
	text-align: center;
	margin: auto;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.411);
	position: absolute;
	top: 5%;
	left: 3%;
}
.mainAboutRestaurant > h1 {
	text-align: center;
	margin-top: 35%;
}
.mainAboutRestaurant > h2 {
	margin: 1em 5em;
}

.firstSideGalleryWrapper > ul > li {
	list-style: none;
	text-decoration: none;
}

.firstSideGalleryWrapper {
	grid-column: 1/12;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
}
.wrapper {
	width: 55%;
	height: 100%;
}
.carousellWrapper {
	display: flex;
	list-style: none;
	gap: 10px;
	flex-shrink: 1;
}
.carousellSlide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.carousellSlide {
	position: relative;

	flex-shrink: 0;
	height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100%;
}

@media only screen and (max-width: 970px) {
	.mainAboutRestaurant {
		grid-column: 2/11;
		width: 100%;
		height: 90%;
		justify-content: center;
		text-align: center;
		margin: auto;
		z-index: 0;
		background-color: rgba(0, 0, 0, 0.274);
		position: relative;
	}
	.mainAboutRestaurant > h1 {
		text-align: center;
		margin-top: 5%;
	}
	.mainAboutRestaurant > h2 {
		margin: 1em 1em;
	}
}

/* styling restaurant menu */

.menuWrap {
	grid-column: 3/11;
	margin-top: 1em;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	color: black;
	width: 100%;
	height: auto;
	background-color: #f3e3e6;
	border: solid 1em #d5b66d;
	border-block-color: #cc981fe3;
}
.logoMenuWrap {
	grid-column: 3/11;
	margin-top: 10em;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	color: black;
	width: 100%;
	height: auto;
	background-color: #f3e3e6;
	border: solid 1em #d5b66d;
	border-block-color: #cc981fe3;
}
.menuWrap ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: first baseline;
}
.menuWrap ul > li {
	list-style: inside;
}
.menuWrap url {
	width: 1em;
	height: 1em;
}
.menuWrap h2 {
	font-size: large;
	color: black;
	margin-left: 2em;
}
.menuContact {
	width: 13%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #080808a2;
	font-size: 1.5em;
	position: fixed;
	top: 10em;
	left: 1.5em;
	padding-bottom: 2em;
	border-left: solid 1px #4d0f1a6c;
	border-right: solid 1px #4d0f1a6c;
	box-shadow: 4px 2px 22px #5a28316c;
}
.menuContact a {
	text-decoration: none;
	color: beige;
}
.menuContact span {
	margin-top: 2em;
	font-size: 0.8em;
}
.menuLogo {
	margin: 1em auto 1em;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.menuLogo h1 {
	display: block;
	color: black;
}
.menuLogo img {
	width: 20%;
}
